p {
	color:#000000;
	font-size:12pt;
	font-family:arial, sans-serif;
}

h1 {
	color:#000000;
	font-size:28pt;
	font-family:arial, sans-serif;
}

.pimg {
	height:16px;
	width:16px;
}

.h1img {
	height:37px;
	width:37px;
}

.block {
	margin:0;
	padding:0;
	display:block;
	float:left;
}

.down {
	margin:0;
	padding:0;
	display:block;
	clear:left;
}

.red {
	color:#FF0000;
}

.blue {
	color:#0000FF;
}

.green {
	color:#00FF00;
}

.yellow {
	color:#FFFF00;
}

.white {
	color:#FFFFFF;
}

.black {
	color:#000000;
}

.bold {
	font-weight:bold;
}

.kursiv {
	font-style:italic;
}

.underline {
	text-decoration:underline;
}

